<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			<if test="JSDOC.opt.D.topic">{+ JSDOC.opt.D.topic +} </if>
			Documentation
			<if test="data.alias">:: {+ data.alias +}</if>
		</title>
		<meta http-equiv="Content-Language" content="en" />
		<!-- Bootstrap core CSS -->
		<link href="{+ Link.base + publish.conf.staticDir +  publish.conf.cssDir +}bootstrap.min.css" rel="stylesheet">
		<link href="{+ Link.base + publish.conf.staticDir + publish.conf.cssDir +}font-awesome.min.css" rel="stylesheet">
		<link href="{+ Link.base + publish.conf.staticDir + publish.conf.cssDir +}prettify.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="{+ Link.base + publish.conf.staticDir + publish.conf.jsDir +}html5.js"></script>
		<![endif]-->
		<link href="{+ Link.base + publish.conf.staticDir + publish.conf.cssDir +}docstrape.css" rel="stylesheet">
	</head>
	<body onload="prettyPrint();">
		<div id="wrap">
			<!-- start navbar include-->
			<div class="page-header">
				<!-- -->
			</div>
			<!-- end navbar include -->
			<!-- Begin page content -->

