<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="/static/img/favicon.png">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>APE (Ajax Push Engine) :: {+ JSDOC.opt.D.topic +} Documentation <if test="data.alias">:: {+ data.alias +}</if></title>
		<meta name="description" content="APE is a complete packaged solution for Ajax push. With a very scalable Comet C Server and a JavaScript Framework." />
		<meta name="keywords" content="ape, ape-project, ajax push engine, http streaming, ajax push, comet push, long-polling, comet, xhr, javascript push" />
		<meta name="Robots" content="index, follow, all" />
		<meta name="revisit-after" content="1 day" />
		<meta http-equiv="Content-Language" content="en" />
		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/prettify.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Custom styles for this template -->
		<link href="/static/css/custom.css" rel="stylesheet">
		<link href="{+ Link.base + publish.conf.staticDir + publish.conf.cssDir +}docstrape.css" rel="stylesheet">
	</head>
	<body onload="prettyPrint();">
		<div id="wrap">
			<!-- start navbar include-->
			<div class="page-header">
				<div class="container">
					<a class="brand-main" href="/"><img src="/static/img/logo.png" />APE Project</a>
					<div class="navbar navbar-inverse navbar-static-top">
						<div class="navbar-inner">
							<a class="brand" href="/">APE Project</a>
							<ul class="nav navbar-nav">
								<li id="index"><a href="/">Home</a></li>
								<li id="ape_community"><a href="/community/">Community</a></li>
								<li id="ape_demo"><a href="/demos/">Demos</a></li>
								<!-- -Fixme:-ugly when selected -->
								<li id="ape_doc_antiugly" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li class="nav-header">Official docs</li>
										<li><a href="/docs/comic/">Comic</a></li>
										<li><a href="{+ JSDOC.opt.D.base_url +}/static/jsdocs/server/symbols/Ape.html">APE Server</a></li>
										<li><a href="{+ JSDOC.opt.D.base_url +}/static/jsdocs/client/symbols/APE.html">Javascript Framework</a></li>
										<li class="divider"></li>
										<li class="nav-header">Contributed docs</li>
										<li><a href="/wiki">Wiki</a></li>
										<li><a href="/docs/youtube/">Youtube</a></li>
									</ul>
								</li>
								<li id="ape_download"><a href="/download/">Download</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end navbar include -->
			<!-- Begin page content -->

